{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'post:post_listado' %}">Inicio</a></li>
               
                <li><a href="#">Nueva Publicación (deshabilitado)</a></li>
                <li><a href="#">Cerrar Sesión (deshabilitado)</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}

        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Mi Blog.</p>
    </footer>
</body>
</html>